<div class="Form Form--open">
  <div class="Form-header">
    <div class="Form-title">
      Tell us more about you and your team <img src="https://web.telegram.org/k/assets/img/emoji/1f44b.png" alt="">
    </div>

    <div class="Form-description">
      We tailor your onboarding experience to match what you're looking for. Tell us more about yourself and your team to help us out.
    </div>

    <div class="Form-success">
<!--      Your email has already been added to the queue, answer the questions so we can provide your perfect workspace as soon as possible-->

<!--      Thank you for your request! We'll try to give you access as soon as possible. Follow us on Twitter and join our community on Discord-->
    </div>
  </div>
  <div class="Form-content">

    <div class="Form-block">
      <div class="InputWrapper">
        <div class="InputLabel">Email*</div>
        <div class="Input">
          <div class="Input-input">
            <input type="text">
          </div>
        </div>
      </div>
    </div>

    <div class="Form-block">
      <div class="InputWrapper">
        <div class="InputLabel">What tools you use now?</div>
        <div class="Input">
          <div class="Input-input">
            <input type="text">
          </div>
        </div>
      </div>
    </div>

    <div class="Form-block">
      <div class="InputWrapper">
        <div class="InputLabel">What OS and browser are you using?*</div>
        <div class="Input">
          <div class="Input-input">
            <input type="text">
          </div>
        </div>
      </div>
    </div>

    <div class="Form-block">
      <div class="InputWrapper">
        <div class="InputLabel">What problem are you hoping Stack will solve?</div>
        <div class="Input">
          <div class="Input-input">
            <textarea name="" id="" rows="6"></textarea>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="Form-footer">
    <button class="Button-submit disabled">
      Submit
    </button>

  </div>


</div>
