<div class="Form Form--open">

  <div class="Form-header">
    <div (click)="form.formOpened = false" class="Form-close">
      <svg width="32" height="32" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17.25 6.75L6.75 17.25"></path>
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.75 6.75L17.25 17.25"></path>
      </svg>
    </div>

    <div class="Form-title">
      Tell us more about you and your team <img src="https://web.telegram.org/k/assets/img/emoji/1f44b.png" alt="">
    </div>

    <div class="Form-description">
      We tailor your onboarding experience to match what you're looking for. Tell us more about yourself and your team to help us out.
      <br>
      Contact us <a href="mailto:hello@usestack.app">hello@usestack.app</a>
    </div>

    <div *ngIf="(form.success) || (form.emailSended && !form.success)" class="Form-success">
      <ng-container *ngIf="form.emailSended && !form.success">
        Your email has been successfully added to the queue, please answer the questions so we can provide you with the perfect workspace as soon as possible
      </ng-container>
    <ng-container *ngIf="form.success">
            Thank you for your request! We'll try to give you access as soon as possible. Follow us on Twitter and join our community on Discord
    </ng-container>
    </div>
  </div>
  <div class="Form-content" *ngIf="!form.success">

    <div class="Form-block" *ngIf="!form.emailSended">
      <div class="InputWrapper">
        <div class="InputLabel">Email*</div>
        <div class="Input">
          <div class="Input-input">
            <input [(ngModel)]="form.email" type="text">
          </div>
        </div>
      </div>
    </div>

    <div class="Form-block">
      <div class="InputWrapper">
        <div class="InputLabel">How many people you have on your team?*</div>
        <div class="Input">
          <div class="Input-input">
            <input [(ngModel)]="form.team" type="number">
          </div>
        </div>
      </div>
    </div>

    <div class="Form-block">
      <div class="InputWrapper">
        <div class="InputLabel">What is your team's occupation?*</div>
        <div class="Input">
          <div class="Input-input">
            <input [(ngModel)]="form.occupation" type="text">
          </div>
        </div>
      </div>
    </div>

    <div class="Form-block">
      <div class="InputWrapper">
        <div class="InputLabel">What project management tools are you using now?</div>
        <div class="Input">
          <div class="Input-input">
            <input [(ngModel)]="form.tools" type="text">
          </div>
        </div>
      </div>
    </div>

    <div class="Form-block">
      <div class="InputWrapper">
        <div class="InputLabel">What problem are you hoping Stack will solve?</div>
        <div class="Input">
          <div class="Input-input">
            <textarea [(ngModel)]="form.problems" name="" id="" rows="6"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="Form-block">
      <div class="InputWrapper">
        <div class="InputLabel">How did you hear about us?</div>
        <div class="Input">
          <div class="Input-input">
            <input [(ngModel)]="form.browserAndOs" type="text">
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="Form-footer" *ngIf="!form.success">
    <button (click)="submit()" class="Button-submit" [class.disabled]="formIsInvalid" [disabled]="formIsInvalid">
      Submit
    </button>

  </div>


</div>
