.container {
  min-height: 100vh;
  //background: #fcfcfc;
  position: relative;
}

.demo-for-hyper {
  cursor: pointer;
  background-color: #0F0F0F;
  color: white;
  font-weight: 600;
  margin-right: 24px;
  font-size: 18px;
  height: 46px;
  padding: 0 18px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.first-screen__invite_ok {
  background: var(--green);
  color: white;
  padding: 8px 16px;
  font-weight: 500;
  border-radius: 6px;
  margin-top: -6px;
  margin-bottom: 16px;
  &:empty {
    display: none;
  }
}

.gradient-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background:
    radial-gradient(closest-side, rgba(255, 215, 241, 1), rgba(228, 79, 79, 0)) 300% 500% / 90% 90% no-repeat,
    radial-gradient(closest-side, rgba(255, 194, 234, 0.8), rgba(228, 79, 79, 0)) 600% 180% / 90% 90% no-repeat,

    radial-gradient(closest-side, rgba(255, 251, 190, 0.8), rgba(255, 251, 190, 0)) -200% -200% / 85% 80% no-repeat,
      //radial-gradient(closest-side, rgba(255, 251, 190, 0.8), rgba(255, 251, 190, 0)) -170% 0% / 70% 60% no-repeat,


      //radial-gradient(closest-side, rgba(250, 250, 218, 0.2), rgba(250, 250, 218, 0)) 100% 150% / 75% 50% no-repeat,
      //radial-gradient(closest-side, rgba(250, 250, 218, 0.3), rgba(250, 250, 218, 0)) -400% -100% / 90% 80% no-repeat,

    linear-gradient(
        30deg, rgb(191, 227, 241) 10%, rgba(191, 227, 241, 0) 70%, rgba(255, 255, 255, 0) 90%) 50% 50% / 100% 100% no-repeat,
      //linear-gradient(
      //  144deg, rgba(233, 235, 104, 0), rgba(233, 235, 104, 0.3)) no-repeat,
    linear-gradient(
        90deg, rgba(220, 212, 253, 0.1), rgba(220, 212, 253, 0.8)) no-repeat, rgb(255, 255, 255);
  opacity: 0.9;
  z-index: -1;
}

.land-block {
  padding: 0 24px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 250, 250, 0.25);
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 24, 42, .05);
  z-index: 3;
  backdrop-filter: blur(10px);
  transition: border-bottom 150ms ease 0s, top 250ms ease 0s, background-color 300ms ease 0s;
}



.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 66px;
}

.header-left, .header-right{
  display: flex;
  align-items: center;
  height: inherit;
}

.header-right {
  justify-content: flex-end;
}

.header-logo {
  font-family: 'Cereal', 'Segoe UI', sans-serif !important;
  color: #FF6343;
  //color: #ff5043;
  //  color: var(--grey7);
  //  //color: var(--action);
  font-weight: 600;
  font-size: 25px;
}

.header-twitter {
  color: var(--grey7);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  transition: 0.1s;
  cursor: pointer;
  color: rgb(29, 155, 240);

  //&:hover {
  //  color: rgb(29, 155, 240);
  //}
}

.first-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.first-screen__title {
  text-align: center;
  max-width: 900px;
  font-size: 4.5rem;
  font-weight: 900;
  font-family: 'Cereal', 'Segoe UI', sans-serif !important;
  color: var(--grey7);
}

.first-screen__description {
  font-family: 'Segoe UI', sans-serif !important;
  margin: 28px 0 48px;
  max-width: 720px;
  font-size: 1.3rem;
  color: rgba(var(--grey7-rgb), 0.7);
  line-height: 1.5;
  text-align: center;
}

.first-screen__invite {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap-invite-input {
  width: 100%;
  max-width: 500px;
  display: flex;
  margin-bottom: 32px;
  position: relative;
  padding: 1px;
  border-radius: 10px;
  box-shadow: rgb(0 0 0) 0px 0px 3px;
  z-index: 2;
  cursor: default;
  user-select: none;
  //background: conic-gradient(from
  //    180deg at 50% 50%, rgb(82, 112, 228)
  //  -60.81deg, rgb(208, 98, 100)
  //    34.48deg, rgb(133, 43, 63)
  //    124.77deg, rgb(54, 112, 177)
  //    218.32deg, rgb(82, 112, 228)
  //    299.19deg, rgb(208, 98, 100)
  //    394.48deg);
  background: conic-gradient(from
  180deg at 50% 50%, #5270e470
-60.81deg, #d0626463
  34.48deg, #852b3f7a
  124.77deg, #3670b170
  218.32deg, #5270e469
  299.19deg, #d062646b
  394.48deg);

  &:focus-within {
    .invite-input__background {
      top: -4px;
      left: -4px;
      right: -4px;
      bottom: -4px;
      border-radius: 12px;
    }
  }
}

.invite-input__background {
  //width: 100%;
  //height: 100%;
  animation: 10s ease-in-out 0s infinite normal both running pulse;
  background: conic-gradient(from
  217.29deg at 51.63% 52.16%, rgb(36, 0, 255)
  0deg, rgb(0, 135, 255)
  19.5deg, rgb(255, 29, 122)
  102.75deg, rgb(245, 56, 27)
  152.25deg, rgb(255, 83, 53)
  208.88deg, rgb(105, 30, 255)
  291deg);
  filter: blur(1px);
  border-radius: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transition: all 0.15s, opacity 1.5s ease 0s;
  opacity: 0.75;
}

.invite-input {
  width: 100%;
  //background: #2C2A27;
  background: #fafafa;
  height: 54px;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 11px 3px 11px 16px;
  z-index: 1;
  display: flex;
  align-items: center;
  input {
    position: relative;
    bottom: 2px;
    border: none;
    outline: none;
    background: transparent;
    //color: white;
    font-size: 20px;
    font-weight: 400;
    flex: 1 1 auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Whitney", "Roboto", "Apple Color Emoji", "Helvetica Neue", sans-serif;
    min-width: 100px;
    //&::placeholder {
    //  color: rgba(255, 255, 255, 0.5);
    //}
  }

  &__button {
    flex: 0 0 auto;
    min-height: 44px;
    padding: 0 30px 1px 30px;
    background: linear-gradient(
        24deg, rgb(255, 99, 67) 9.16%, rgb(255, 99, 67) 43.89%, rgb(255, 80, 67) 64.72%);
    border: none;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    line-height: 1;
    cursor: pointer;
    outline: none;
    letter-spacing: 0.15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s;

    span {
      margin-left: 4px;
    }

    &:hover {
      opacity: 0.85;
    }

    &:active {
      transform: scale(0.95);
      opacity: 0.9;
    }
  }
}

.wrap-screenshot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.screenshot {
  display: flex;
  box-shadow: 0px 9px 24px -3px rgba(0, 0, 0, .16), 0px 4px 8px -1px rgba(0, 0, 0, .08);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  align-items: center;
  //width: 90%;
  //border-radius: 4px;
  //border: 1px solid #26272b;
  //box-shadow: 0 30px 55px rgb(0 0 0 / 50%);

  img {
    width: 100%;
    max-width: 1000px;
    image-rendering: optimizeQuality !important;
  }
}

footer {
  background: #2f3238;
  flex: 0 0 auto;
  //min-height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(0, 24, 42, .05);
  display: flex;
  align-items: center;

  .footer__say {
    font-family: 'Segoe UI', sans-serif !important;
    color: #f0f0f0;
    line-height: 1.35;

    a {
      font-weight: 600;
      color: #f0f0f0 !important;
    }
  }
}

.interactive-word {
  transition: 0.15s;
}

.typed-cursor {
  position: relative;
  display: inline-block;
  background: var(--cursor-color);
  transition: 0.15s;
  width: 2px;
  height: 1em;
  margin-left: 0.1em;
  margin-bottom: -0.12em;

  .typed-cursor__author {
    position: absolute;
    top: 3px;
    left: 6px;
    transform: translateY(-100%);
    color: white;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Whitney", "Roboto", "Apple Color Emoji", "Helvetica Neue", sans-serif;

    span {
      padding: 2px 8px 3px 8px;
      display: flex;
      background: var(--cursor-color);
      transition: 0.15s;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-radius: 50px;
    }
  }
}

.typed-cursor--blink {
  -webkit-animation: typedjsBlink .7s infinite;
  animation: typedjsBlink .7s infinite;
}



@keyframes pulse {
  0% {
    transform: rotate(
        0deg);
    filter: blur(4px);
    border-radius: 18px;
  }

  33% {
    transform: rotate(
        -0.5deg) translate(1px, -1px) scale(1.01);
    filter: blur(5px);
    border-radius: 12px;
  }
  67% {
    transform: rotate(
        1deg) translate(-1px, -1px) scale(0.99);
    filter: blur(7px);
    border-radius: 24px;
  }
  100% {
    transform: rotate(
        0deg);
    filter: blur(4px);
    border-radius: 18px;
  }
}

.first-screen__screenshot {
  margin: 80px 0 100px 0;
  display: flex;
  flex-direction: column;
}

.channel-screen-list {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;

  .channel-screen-list-item {
    font-size: 1rem;
    font-family: 'Cereal', 'Segoe UI', sans-serif !important;
    position: relative;
    display: inline-flex;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    grid-column-gap: 6px;
    padding: 2px 0px;
    margin: 0 16px;
    font-weight: 500;
    color: rgba(var(--grey6-rgb), 1);
    //height: 32px;
    line-height: 32px;
    align-items: center;
    //border-radius: 8px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    border-bottom: 3px solid transparent;
    transition: color 0.1s;
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      color: rgb(255, 99, 67);
    }
  }
  .channel-screen-list-item__disable {
    color: rgba(var(--grey4-rgb), 0.8) !important;
    cursor: default !important;
  }

  .channel-screen-list-item__selected {
    border-bottom: 3px solid rgb(255, 99, 67);
    color: rgba(var(--grey7-rgb), 1);
  }
}

.channel-screen-list-item__much-more {
  color: rgb(255, 99, 67) !important;
}

.divider-first-screen-title {
  display: none;
}


@media only screen and (min-width: 0px) and (max-width: 800px) {
  .first-screen__title {
    font-size: 36px;
  }
  .divider-first-screen-title {
    display: block;
  }

  .first-screen {
    padding-top: 60px;
  }

  .typed-cursor__author {
    position: absolute;
    top: -6px !important;
    left: 2px !important;
    //color: white;
    font-size: 12px !important;
    //font-weight: 500;
    //
    span {
      padding: 2px 6px 3px 6px !important;

    }
  }

  .first-screen__description {
    color: #808a96;
    font-size: 20px;
    margin-top: 20px !important;
    margin-bottom: 30px !important;
  }

  .divider-description {
    display: none;
  }

  .invite-input {
    height: 48px;
    padding: 11px 3px 11px 14px;
    input {
      bottom: 0px;
      font-size: 18px;
    }

    &__button {
      min-height: 40px;
      padding: 0 20px 1px 20px !important;

      font-size: 16px;


      span {
        display: none;
      }
    }
  }

  .first-screen__screenshot {
    margin-top: 18px !important;
    margin-bottom: 80px !important;
  }

  .channel-screen-list {
    margin-bottom: 16px;
  }

  .channel-screen-list-item {
    min-height: 40px;
    font-size: 1rem;
    font-family: 'Cereal', 'Segoe UI', sans-serif !important;
    position: relative;
    display: inline-flex;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    grid-column-gap: 6px;
    padding: 2px 0px;
    margin: 0 12px 6px !important;
    font-weight: 500;
    color: rgba(var(--grey6-rgb), 1);
    //height: 32px;
    line-height: 32px;
    align-items: center;
    //border-radius: 8px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    border-bottom: 3px solid transparent;
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .channel-screen-list-item__text {
      display: none;
    }
  }

  .and-much-more {
    display: none !important;
  }

  .screenshot {
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    width: auto !important;
    margin-left: -6px;
    margin-right: -6px;
    justify-content: center;
    align-items: center;
    //width: 90%;
    //border-radius: 4px;
    //border: 1px solid #26272b;
    //box-shadow: 0 30px 55px rgb(0 0 0 / 50%);

    img {
      width: 100%;
      max-width: 1200px;
    }
  }

  footer {
    padding: 12px 0 !important;
  }
  .footer__say {
    font-size: 13px;
  }
}

form {
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
  min-width: 0;
}
