.Page {
  --borderColor: rgba(0, 24, 42, .05);
  height: 100vh;
  background: #fcfcfc;
  position: relative;
  overflow: auto;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 250, 250, 0);
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  -webkit-box-align: center;
  align-items: center;
  //border-bottom: 1px solid rgba(24, 24, 24, .05);
  z-index: 3;
  backdrop-filter: blur(10px);
  transition: border-bottom 150ms ease 0s, top 250ms ease 0s, background-color 300ms ease 0s;
}


.Form-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.Form {

}

.Form-background {
  --overlaySurfaceColor: rgba(255, 255, 255, .75);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--overlaySurfaceColor);
  z-index: -1;
}
